body {
  margin: 0;
  min-height: 100vh;
  /*background: linear-gradient(135deg, #0a1f66, #1db9ff);*/
  font-family: 'Inter', sans-serif;
  color: #e5e5e5;
  padding: 0px 20px;
  padding-top: 120px;
  background: linear-gradient(180deg, #0a0a0a, #111);
  overflow-x: hidden;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  background: #00ffcc;
  z-index: 9999;
  height: 2px;
  opacity: 0.7;
}

.hero-advanced {
  text-align: center;
  padding: 120px 20px;
}

.glitch {
  font-size: 48px;
  font-weight: bold;
  color: white;
  position: relative;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px #00ffae;
  }

  25% {
    text-shadow: -2px -2px #ff00ff;
  }

  50% {
    text-shadow: 2px -2px #00ffff;
  }

  75% {
    text-shadow: -2px 2px #ff0000;
  }

  100% {
    text-shadow: 2px 2px #00ffae;
  }
}

.tagline {
  margin-top: 20px;
  color: #00ffcc;
  letter-spacing: 2px;
}

.bg-glow {
  position: fixed;
  top: -200px;
  left: -200px;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(0, 255, 204, 0.15), transparent 70%);
  filter: blur(120px);
  z-index: -1;
}

/* GLASS NAVBAR */
.glass-nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  z-index: 9999;
  justify-content: space-between;
  /* reduce from 20px 60px */
  height: auto;
  /* let content control height */

  width: 70%;
  max-width: 800px;
  border-radius: 20px;



  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.4),
    inset 0 2px 10px rgba(255, 255, 255, 0.15);
  max-height: 80vh;
  overflow-y: auto;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(25, 25, 30, 0.25);
}

.glass-nav {
  transition: all 0.3s ease;
}

.glass-nav.scrolled {
  padding: 8px 20px;
  background: rgba(10, 10, 12, 0.65);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


/* NAV ITEMS */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 8px;
  gap: 5px;
  /* controls space between icon + text */
  cursor: pointer;
  transition: 0.5s;
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0;
}

.nav-item {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #00ffcc;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.3s;
}

.nav-item:hover::after,
.nav-item.active::after {
  width: 60%;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #00ffcc;
  text-decoration: none;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 15px 0;
  display: block;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card a:hover {
  text-decoration: underline;
}

.nav-item p {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* HOVER EFFECT */
.nav-item:hover {
  transform: translateY(-4px);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  color: #00ffcc;
}

html {
  scroll-behavior: smooth;
}


/* NAVBAR */
.navbar {
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  /* push it down a bit */
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  /* not full width → needed for rounding */
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);

  border-radius: 20px;
  /* 🔥 THIS makes edges round */
  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}



.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
}

.skill {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #333;
  color: #ccc;
  font-size: 14px;
  min-height: 100vh;
}

.reveal {
  opacity: 0;
  transform: translateY(60px) scale(0.98);
  transition:
    opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.skill:hover {
  border-color: #00ffcc;
  color: #00ffcc;
  justify-content: flex-start;
}

#boot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: #00ffcc;
  font-family: monospace;
  padding: 20px;
  z-index: 10000;
}

#bootText::after {
  content: "|";
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.logo {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(65, 151, 134, 0.6);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc;
  background: transparent;
  /* IMPORTANT */
}

#contact a {
  color: #00ffcc;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 100vh;
  margin-bottom: 250px;
}

.contact-box {
  max-width: 400px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 15px;
  padding: 10px 12px;

  border-radius: 10px;
  background: #0f0f0f;
  border: 1px solid #222;
}

.icon {
  font-size: 16px;
}

.contact-item a {
  color: #00ffcc;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

#contact .section-box {
  max-width: 380px;
  /* smaller than before */
  width: 100%;
}

#contact h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

#contact p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #bbb;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact p {
  margin-bottom: 10px;
  color: #bbb;
}

.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  background: #0f0f0f;
  border: 1px solid #222;
  color: #fff;

  padding: 10px;
  border-radius: 8px;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  background: #00ffcc;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
}

.contact-item button {
  margin-left: auto;

  background: transparent;
  border: 1px solid #333;
  color: #aaa;

  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-item button:hover {
  border-color: #00ffcc;
  color: #00ffcc;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  position: relative;
  max-width: 700px;
  padding: 200px 0 120px;
}


.hero::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(0, 255, 204, 0.2), transparent);
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 0;
}


h1 {
  margin: 0;
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: white;

}

.hero h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  color: white;

  text-shadow: 0 0 15px rgba(0, 255, 204, 0.15);
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
  color: #00ffcc;
  color: #aaa;
  font-weight: 700;
  line-height: 1.1;
  color: white;

}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* mobile only */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    /* adjust based on navbar height */
    left: 0;
    width: 100%;
    background: rgba(10, 10, 20, 0.95);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }
}


p {
  line-height: 1.7;
}

#about p {
  margin-top: 20px;
}

#about {
  border: none;
}

/* SECTION */
.section {
  scroll-margin-top: 40px;
  margin: auto;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform: scale(0.98);
  opacity: 0.7;
  margin-bottom: 30px;
  /* reduced */
  padding: 80px 10%;
  max-width: 1200px;

  min-height: 100vh;
  /* important */
  padding: 120px 80px;

  margin: auto;
  margin-top: 80px;

}


.section-box:hover {
  transform: translateY(-4px);
  border-color: #00ffcc;

  transform: translateY(-3px);
  transition: 0.3s ease;
}

.section-box {
  background: #111;
  border-radius: 16px;
  border: 1px solid #222;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);

  margin-top: 40px;
  border: 1px solid #222;
  transition: all 0.5s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 25px;
  border: 1px solid #222;
}

.section-box {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.section.in-view {
  transform: scale(1);
  opacity: 1;
}

.reveal-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 250px;
}

@media (max-width: 600px) {

  .card {
    width: 100%;
  }

  .hero-advanced {
    padding: 80px 15px;
  }

  .section-box {
    padding: 20px;
  }

}

.nav-item:hover::after,
.nav-item.active::after {
  width: 60%;
}

/* PROJECT GRID */
.projects {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

/* CARDS */
.card {
  /* slightly stronger glass */
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateY(40px);

  border-radius: 15px;

  padding: 25px;

  display: flex;
  /*new*/
  flex-direction: column;
  gap: 10px;
  background: #121212;
  border: 1px solid #2a2a2a;
  width: 100%;
  max-width: 320px;
  min-height: 250px;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    /* depth */
    inset 0 0 10px rgba(255, 255, 255, 0.05);
  /* inner glow */
  transform-style: preserve-3d;
}

/* stagger delays */
.card:nth-child(1) {
  transition-delay: 0.1s;
}

.card:nth-child(2) {
  transition-delay: 0.2s;
}

.card:nth-child(3) {
  transition-delay: 0.3s;
}

.card:nth-child(4) {
  transition-delay: 0.4s;
}

.card.active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.card h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;

  text-shadow:
    0 0 8px rgba(0, 255, 204, 0.6),
    0 0 15px rgba(0, 255, 204, 0.3);

  margin-bottom: 10px;
}

.card h3 {
  color: lch(0% 0 0);
  font-size: 20px;
  font-weight: 600;

  text-shadow:
    0 0 8px rgba(108, 219, 197, 0.6),
    0 0 15px rgba(35, 100, 87, 0.3);

  margin-bottom: 10px;
  font-size: 20px;
  /* new */
  font-weight: 600;
  color: white;
}

nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;
  max-width: 800px;

  border-radius: 20px;
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #3b82f6;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
}

.project-links a {
  padding: 6px 12px;
  border: 1px solid #00ffae;
  border-radius: 5px;
  color: #00ffae;
  text-decoration: none;
  transition: 0.3s;
}

.project-links a:hover {
  background: #00ffae;
  color: black;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
}

.card p {
  font-size: 15px;
  color: #bbb;
  line-height: 1.6;
}

#projects {
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about-text {
  max-width: 600px;
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 12px;
}

.project-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* 🔥 MOBILE RESPONSIVE FIX */
@media (max-width: 768px) {

  /* NAVBAR */
  .glass-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .nav-item h3 {
    font-size: 14px;
    margin: 15px 0;
  }

  /* HERO */
  .hero h1 {
    font-size: 26px;
    text-align: center;
  }

  .hero p {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
  }

  /* SECTIONS */
  .section {
    padding: 60px 20px;
  }

  /* PROJECTS */
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  /* ABOUT */
  .about-text {
    font-size: 14px;
    text-align: center;
  }

  /* SKILLS */
  .skills {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
  }

  .skills span {
    font-size: 12px;
    padding: 6px 12px;
  }

  /* CONTACT */
  #contact p {
    font-size: 14px;
    text-align: center;
  }
}

.skills-container span {
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 999px;
  background: rgba(0, 255, 150, 0.08);
  color: #00ffae;
  border: 1px solid rgba(0, 255, 150, 0.2);
  display: inline-block;
  transition: 0.2s;
}

.skills-container span:hover {
  background: #00ffae;
  color: #020617;
}

.skills-container span {
  padding: 8px 16px;
  background: #1e293b;
  border-radius: 999px;
  font-size: 13px;
  color: #e2e8f0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#skills {
  border: 1px solid rgba(0, 255, 150, 0.2);
  border-radius: 15px;
  padding: 40px;
  margin-top: 120px;

  text-align: center;

}

#skills h2 {
  text-align: center;
  margin-bottom: 25px;
}

.skills-container span:hover {
  background: #3b82f6;
  transform: translateY(-3px);
}

.card:hover {
  /*transform: translateY(-12px) scale(1.02);*/

  border-color: rgba(0, 255, 204, 0.6);

  /*box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(0, 255, 204, 0.4);   /* glow */
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 255, 174, 0.2);


}

.highlight {
  color: #00ffcc;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.card {
  transition: 0.3s ease;
}

.card.active {
  transform: translateY(-5px);
}

.section.in-view {
  opacity: 1;
}